* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  height: 50px;
  background-color: #FF9A4B;
}

main {
  display: flex;
  justify-content: center;
}

.project {
  width: 960px;
  margin: 50px 0;
  display: flex;
  justify-content: center;
}

.project-item {
  width: 300px;
  margin-right: 30px;
  background-color: #EEEEEE;
  position: relative;
}

.project-step {
  display: inline-block;
  position: absolute;
  background-color: #FF9A4B;
  color: #ffffff;
}

.project-item-img-1 {
  display: inline-block;
  width: 280px;
  height: 150px;
  margin: 10px 10px 0 10px;
  background-image: url(img/flow01.png);
  background-size: cover;
  background-position: center;
}

.project-item-img-2 {
  display: inline-block;
  width: 280px;
  height: 150px;
  margin: 10px 10px 0 10px;
  background-image: url(img/flow02.png);
  background-size: cover;
  background-position: center;
}

.project-item-img-3 {
  display: inline-block;
  width: 280px;
  height: 150px;
  margin: 10px 10px 0 10px;
  background-image: url(img/flow03.png);
  background-size: cover;
  background-position: center;
}

.project-item:nth-child(3) {
  margin-right: 0;
}

.project-item-article {
  width: 280px;
  margin: 15px 10px 10px 10px;
}

.project-item-article h3 {
  margin-bottom: 5px;
}

.project-item-article p {
  font-size: small;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #AAAAAA;
}